.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.label {
  margin-bottom: 5px;
  font-weight: 600;
}

.input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: 0.3s;
}

.input:focus {
  border-color: #007bff;
  outline: none;
}
